*{
    background-color: #ADD8E6;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    
}

.winMsg{
    color: red;
    /* opacity: 0; */
    /* transition: 2s; */
    /* background-color: aqua; */
    transition: all 2s;  
}
.hide{

    display: none;
     /* transition: all 2s; */
}

.container{
    margin-top: 8%;
    height: 70vh;
    
    display: flex;
    justify-content: center;
    align-items: center; 
   
}

.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
   
}

.box{
    color: black;
    background-color: antiquewhite;
    height: 17vmin;
    width: 17vmin;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 16px;
    font-size: 70px;  
}

.rstbtn{
    height: 40px;
    width: 150px;
    background-color: antiquewhite;
    border-radius: 20px;
    border: none;
}
